.nav_container {
    background-color: purple;
    color: darkgoldenrod;
    display: grid;
    justify-content: center;
}

.navbar {
    display: grid;
    text-align: center;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

.images {
    width: 600px;
    height: 100px;
}

header {
    background-color: blue;
    color: darkgoldenrod;
    text-align: center;
    padding-bottom: 5px;
    display: grid;
}

ul {
    list-style-type: none;
    display: flex;
    object-fit: contain;
}

.About {
    color: darkgoldenrod;
    background-color: blue;
    display: grid;
}

.Services {
    color: darkgoldenrod;
    background-color: purple;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.wrap-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-bottom: -300px;
}

.wrapper {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 600px 600px 600px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 250px;
    margin-top: 0px;
}

.Contact {
    color: darkgoldenrod;
    background-color: blue;
    display: grid;
    
}

h4 {
    color: darkgoldenrod;
}

footer {
    color: darkgoldenrod;
    background-color: purple;
    display: grid;
}

.background {
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
    color: darkgoldenrod;
    text-emphasis: bold;
    height: 900px;
    
}

.backgroundcontainer {
    background-color: purple;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

#cardio {width: 600px;
height: 600px;}